.modal {
	z-index: 10;
	position: fixed;
	max-width: 600px;
	top: 30px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 20px;
	background-color: white;
}

.modal h2 {
	text-align: center;
}

.darkZone {
	position: fixed;
	z-index: 9;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.closeModal {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
}

.closeModal:hover {
	cursor: pointer;
}